
@model List<Technician>

    @{
    ViewBag.Title = "Technicians";

}

<div class="card flex justify-center items-center mt-36">
    <h1 class="mb-20 text-4xl">Technician Manager</h1>
    <div class="w-7/12 overflow-x-auto sm:overflow-auto " x-data="{
                            open: false,
                            toggle() {
                                this.open = this.open ? this.close() : true
                            },
                            close(){
                                this.open = false
                            }
                         }">
        <table class="table w-full table-zebra">
            <thead>
                <tr >
                    <th class="bg-primary  border-r-2 border-gray-700">Name</th>
                    <th class="bg-primary border-r-2 border-gray-700">Email</th>
                    <th class="bg-primary border-r-2 border-gray-700">Phone</th>
                    <th class="bg-primary"></th>
                    <th class="bg-primary"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var technician in Model)
                {
                    <tr>
                    <th>@technician.Name</th>
                    <td>@technician.Email</td>
                    <td>@technician.Phone</td>
                        @{
                            var id = @technician.TechnicianId;
                        }
                    <td><a asp-controller="Technician" asp-action="Edit" asp-route-id="@technician.TechnicianId" ><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td >
                        <i x-on:click="toggle()" class="fa-solid fa-trash-can hover:cursor-pointer" >
                            <form x-show="open" asp-action="Delete" method="post" >
                                <input type="hidden" asp-for="@technician.TechnicianId"/>
                                <button  class=" btn btn-primary absolute right-60" >Hi</button>
                            </form>
                        </i>
                    </td>
                    </tr>
                }         
                
            </tbody>
        </table>
        <a asp-controller="Technician" asp-action="Create" class="btn btn-primary mt-10" >Add Technician</a>
    </div>
</div>


