@model List<Product>

    @{
    ViewBag.Title = "Technicians";

}

<div class="card flex justify-center items-center mt-36">
    <h1 class="mb-20 text-4xl">Product Manager</h1>
    <div class="w-7/12 overflow-x-auto sm:overflow-auto " x-data="{
            open: false,
            toggle() {
                this.open = this.open ? this.close() : true
            },
            close(){
                this.open = false
            }
        }">
        <table class="table w-full table-zebra">
            <thead>
                <tr >
                    <th class="bg-primary border-r-2 border-gray-700">Product Code</th>
                    <th class="bg-primary border-r-2 border-gray-700">Name</th>
                    <th class="bg-primary border-r-2 border-gray-700">Yearly Price</th>
                    <th class="bg-primary border-r-2 border-gray-700">Release Date</th>
                    <th class="bg-primary"></th>
                    <th class="bg-primary"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                    <th>@product.ProductCode</th>
                    <td>@product.ProductName</td>
                    <td>$@product.YearlyPrice</td>
                    <th>@product.ReleaseDate</th>
                        @{
                            var id = @product.ProductId;
                        }
                    <td><a asp-controller="Product" asp-action="Edit" asp-route-id="@product.ProductId" ><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td >
                        <i x-on:click="toggle()" class="deleteId  fa-solid fa-trash-can hover:cursor-pointer" data-id="@product.ProductId" >

                        </i>
                    </td>
                    </tr>
                }         
                
            </tbody>
        </table>
         <div class="flex flex-col justify-center items-center">
            <div class="absolute card w-96 glass  z-10 top-0 "  x-show="open">
                <div class="card-body">
                    <h2 class="card-title">Confirm Delete</h2>
                    <p>Are you sure you want to delete this entry?</p>
                    <div class="flex mt-10">
                        <a id="selectedId"  href="/product/delete/" class="btn bg-blue-600 btn-primary mr-3" >Delete</a>
                        <button x-on:click="toggle()" class="btn btn-error">No</button>
                    </div>
                </div>
            </div>
        </div>
        <a asp-controller="Product" asp-action="Create" class="btn btn-primary mt-10" >Add Product</a>
    </div>
</div>

<script type="text/javascript">
    (function () {
        var deleteBtns = document.querySelectorAll('.deleteId');
        deleteBtns.forEach(btn => {
            btn.addEventListener('click', getSelectedId);
        });
    })();

    function getSelectedId() {
        var id = this.getAttribute("data-id");

        document.getElementById("selectedId").setAttribute('href', '/product/delete/' + id);

    }

    window.onbeforeunload = function () {
        var deleteBtns = document.querySelectorAll('.deleteId');
        deleteBtns.forEach(btn => {
            btn.removeEventListener('click', getSelectedId);
        });
    }
</script>